@model _52000657_LuuDucHai.Models.product

<td class="image">
    <div class="product_image">
        <a href="/@ViewBag.metaDetail/@Model.meta">
            <img src="~/Uploads/products/@Model.firstImg" alt="@Model.firstImg" />
        </a>
    </div>
</td>

<td class="item">
    <a href="/@ViewBag.metaDetail/@Model.meta">
        <strong>@Model.name</strong>
    </a>
</td>