@model _52000657_LuuDucHai.Models.inforShop

<div class="inner about_us">
    <p class="message">@Model.introduce</p>
    <ul class="list-unstyled">
        <li>
            <i class="fa fa-home"></i>@Model.address
        </li>
        <li>
            <i class="fa fa-envelope-o"></i> <a href="mailto:@Model.email">@Model.email</a>
        </li>
        <li>
            <i class="fa fa-phone"></i>@Model.phone
        </li>
    </ul>
</div>