@model _52000657_LuuDucHai.Models.inforShop

<h1>
    <a href="/">
        <img src="~/Uploads/images/@Model.logoshop" alt="@Model.shopname" class="img-responsive logoimg" />
    </a>
</h1>

<h1 style="display:none">
    <a href="/">@Model.shopname</a>
</h1>