@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- Begin slider -->
@{ Html.RenderAction("getBanner", "Default");}
<!-- End slider -->
<script>
                jQuery(document).ready(function () {
                    if ($('.slides li').size() > 0) {
                        $(".hrv-banner-container .slides").owlCarousel({
                            singleItem: true,
                            autoPlay: 5000,
                            items: 1,
                            itemsDesktop: [1199, 1],
                            itemsDesktopSmall: [980, 1],
                            itemsTablet: [768, 1],
                            itemsMobile: [479, 1],
                            slideSpeed: 500,
                            paginationSpeed: 500,
                            rewindSpeed: 500,
                            addClassActive: true,
                            navigation: true,
                            stopOnHover: true,
                            pagination: false,
                            scrollPerPage: true,
                            afterMove: nextslide,
                            afterInit: nextslide,
                        });
                        function nextslide() {
                            $(".hrv-banner-container .owl-item .hrv-banner-caption").css('display', 'none');
                            $(".hrv-banner-container .owl-item .hrv-banner-caption").removeClass('hrv-caption')
                            $(".hrv-banner-container .owl-item.active .hrv-banner-caption").css('display', 'block');

                            var heading = $('.hrv-banner-container .owl-item.active .hrv-banner-caption').clone().removeClass();
                            $('.hrv-banner-container .owl-item.active .hrv-banner-caption').remove();
                            $('.hrv-banner-container .owl-item.active>li').append(heading);
                            $('.hrv-banner-container .owl-item.active>li>div').addClass('hrv-banner-caption hrv-caption');
                        }

                    }
                })

</script>

<section id="content" class="clearfix container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Content-->
            <div class="main-content">
                <!-- Sản phẩm trang chủ -->

                <div class="product-list clearfix">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <aside class="styled_header  use_icon ">
                                <h2>What hot</h2>
                                <h3>Sản phẩm bán chạy</h3>
                                <span class="icon"><img src="~/Uploads/images/icon_featured.png?v=90" alt=""></span>
                            </aside>
                        </div>
                    </div>
                    <!-- Hot Product Show Here -->
                    <div class="row content-product-list products-resize">
                        @{ Html.RenderAction("getProduct", "Product");}
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12  pull-center center">
                            <a class="btn btn-readmore" href="/collections/dong-ho-chong-nuoc" role="button">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <!-- Phần này lấy tĩnh-->
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="animation fade-in home-banner-1">
                            <aside class="banner-home-1">

                                <div class="divcontent">
                                    <span class="ad_banner_1">Miễn phí vận chuyển<strong class="ad_banner_2">Với tất cả đơn hàng trên 500k thành phố Hà Nội</strong></span>
                                    <span class="ad_banner_desc">Miễn phí 2 ngày vận chuyển với đơn hàng trên 500k trừ trực tiếp khi thanh toán</span>
                                </div>
                                <div class="divstyle" style="border-color:;"></div>
                            </aside>
                        </div>
                    </div>
                </div>

                <div class="product-list clearfix ">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <aside class="styled_header  use_icon ">
                                <h3>Sản phẩm mới</h3>
                                <span class="icon"><img src="~/Uploads/images/icon_sale.png?v=90" alt="Newest trends"></span>
                            </aside>
                        </div>
                    </div>

                    <div class="row content-product-list products-resize">
                        @{ Html.RenderAction("getNewProduct", "Product");}
                    </div>
                    <div class="row">
                        <div class="col-lg-12 pull-center center ">
                            <a class="btn btn-readmore" href="/collections/dong-ho-cao-cap" role="button">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="banner-bottom">
                    <div class="row">

                        <div class="col-xs-12 col-sm-6 home-category-item-2">
                            <div class="block-home-category">
                                <a href="/collections/dong-ho-nam">
                                    <img class="b-lazy b-loaded" src="~/Uploads/images/block_home_category1.jpg?v=90" alt="nam">
                                </a>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-6 home-category-item-3">
                            <div class="block-home-category">
                                <a href="/collections/dong-ho-nu">
                                    <img class="b-lazy b-loaded" src="~/Uploads/images/block_home_category2.jpg?v=90" alt="nữ">
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- end Content-->
        </div>
    </div>
</section>